* {
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}

body {
    padding: 0;
    margin: 0;
}

#titlepage {
    width:50%;
}

#title {
    font-size:xx-large;   
}

.countdownbox {
    float: right;
    padding: 20px 20px;
}

main {
    display: flex;
    height: 100%;
    width:100%;
    justify-content: center;
    
}

.questionbox {
    display: none;
}

.questionAppear {
    display: block;
    text-align: center;
    max-width: 50%;
}

#questionmain {
    text-align: center;
    margin: auto;
    
}

button {
    background-color: purple;
    color: white;
    border-radius: 15px;
    padding: 10px;
    table-layout: fixed;
    margin: 10px 10px;
}

.btn {
    width: 250px;
    margin:10px auto;
}

.answerbox {
    display: grid;
    text-align: center;
    
}

.scorebox {
    float: left;
    padding: 20px 20px;
}

.startHide {
    display:none;
}

.scoresubmission {
    display: none;
}

.scoresubmissionAppear {
    display: block;
}

.rightanswer {
    display: block;
    opacity: 70%;
    border-top: solid 5px green;
    color: green;
    padding: 10px 10px;
}

.wronganswer {
    display: block;
    opacity: 70%;
    border-top: solid 5px red;
    padding: 10px 10px;
}

/*Adding media queries


/* Width at 480px and below */
@media screen and (max-width: 480px) {

    *{ 
        justify-content: center;
        flex-direction: column;
        margin: auto;
        text-align: center;
        padding: 0;
}

.countdownbox {
    width: 100%;
    margin: auto;
}

.scorebox {
    margin: auto;
    width: 100%;

}
}
/* Width at 300px and below */
@media screen and (max-width: 300px) {
*{ 
    justify-content: center;
    flex-direction: column;
    margin: auto;
    text-align: center;
    padding: 0;
}

.countdownbox {
    margin: 0px 100px;
}

.scorebox {
    margin: 0px 30px;
    
}

    }